.imgy {
    width: 20%;
  }
  
  @media all and (max-width: 30em) {
    .imgy {
      width: 50%
    }
  }

  .info h2{
    font-size: 36px;
    color: white;

  }

  .info a {
    font-size: 29px;
  }