.header {
  position: relative;
  top: 0;
  left: 0;
  width: 98.5%;
  height: 100%;
  z-index: 20;
  background: aquamarine;
}
.container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: inherit;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  color: black;
}

.right {
  display: inherit;
  margin-right: 5%;
  /* width: 56%; */
  justify-content: flex-end;
  align-items: center;
  color: var(--secondaryText);
}

@keyframes navbar-appear {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #d8d8d8;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

/* title styles */
.hometitle span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.hometitle span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.hometitle span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.hometitle span:nth-of-type(1)::before,
.hometitle span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.hometitle span:nth-of-type(2)::before,
.hometitle span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@media all and (max-width: 30em){
  .right {
    visibility: hidden;
  }
}
